@import "tailwindcss";

@theme {
  /* Colors */
  --color-sand: #E4D4C8;
  --color-tan: #D0B49F;
  --color-brown: #A47551;
  --color-carafe: #523A28;
  --color-primary: #1D4ED8;
  --color-secondary: #64748B;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  /* Background Image Utilities */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}